body {
   
   
    
    font-family: 'Open Sans', sans-serif;
    background:#333;
    background-image: url('https://source.unsplash.com/1920x1080/?landscape');
    font-size: 120%;
    
  }
  
  
  
    
    
    
 
    h1,h2,p{
        text-align: center;
        font-style: oblique;
    }h1{
            font-size:25px;
    }
        p{
            font-size: 20px;
        }
 
    
    u{
      text-align: left;
      text-indent: 15px;
      font-size:35px;
      font-style:Terminus;
    
    }h2{
      text-align: center;
      text-indent: 15px;
      font-size:35px;
      font-family: 'Times New Roman', Times, serif;
    }
h1{
  border-color: black;
border-width:2px;
border-radius: 3px;
border-style: solid;
}