body {
   
   
    
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }
  
  
    .navbar li {
      float:left;
      list-style: none;
    
    }
    .navbar ul{
    overflow:auto;
    }
    .navbar{
     margin:0px,0px;
      color:lightseagreen;
      border-radius: 30px;
    }
    .navbar li a{
      padding: 3px;
      text-decoration: none;
      color:solid black;
      font-size: 30px;
    } 
    .navbar input{
      border: 2px solid black;
    
    
    }
    
    
    *{
    
    margin:auto;
    padding:12px;
    box-sizing: border-box;
   
    
    }
    
    .container{
        max-width: 100%;
        
        padding: 34px;
        margin:auto;
    
    
    }.container h1,h2,p{
        text-align: center;
        font-style: oblique;
    }h1{
            font-size:25px;
    }
        p{
            font-size: 20px;
        }
    
    input{
        width:80;
        margin: 12px;
        padding:7px;
        border-radius: 6px;
        border:2px solid black;
    
    }
    
    u{
      text-align: left;
      text-indent: 15px;
      font-size:35px;
      font-style:Terminus;
    
    }h2{
      text-align: center;
      text-indent: 15px;
      font-size:35px;
      font-family: 'Times New Roman', Times, serif;
    }
    .bg{
width:100%;
z-index: -1;
position:absolute;

    }