body {
   
   
    
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }
  
  *{
  
  margin:auto;
  padding:12px;
  box-sizing: border-box;

  }
  
  .container{
      max-width: 100%;
      
      padding: 34px;
      margin:auto;
  background: indianred;
  }